.home-main {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    height: 100vh;
    padding-top: 100px;
}

.home-text{
    padding: 10px;
    text-align: center;

    label {
        display: block;
        margin: 30px 0px;
    }

    label.f20 {
        font-size: 20px;
    }
    
    label.f12 {
        font-size: 12px;
    }
}

.home-register-buttons{
    width: 100%;
}

@media(min-width: 901px) {
    .home-main {
        padding-top: 200px;
    }
}
