.home-main {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    height: 100vh;
    padding-top: 100px;
}

.home-text{
    padding: 10px;
    text-align: center;
}

.home-register-buttons{
    width: 100%;
}

@media(min-width: 901px) {
    .home-main {
        padding-top: 200px;
    }
}
