.user-content-container {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    
    label {
        margin: 0 auto;
        font-size: 26px;
    }
}

.inline-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}