$bg-color-fade: #4b4b4b2d;

.menu-list-container{
    z-index: 2;
    position: fixed;
    min-width: 250px;
    background-color: white;
    height: 100%;
    border-right: 1px solid $bg-color-fade;
}
