.menu-list-container{
    position: fixed;
    height: 100%;
    display: flex;
    width: 100%;
    z-index: 2;
    transition: width ease-out 0.2s;
    -webkit-transition: width ease-out 0.2s;
    .menu-list {
        display: block;
        background-color: white;
        width: 300px;
        border-right: 1px solid $bg-color-fade;
        transition: display ease-out 0.25s;
        -webkit-transition: display ease-out 0.25s;

        div {
            height: 50px;
            font-size: 25px;
            font-weight: 700;
            border-bottom: 0.5px solid $bg-color-fade;
            padding-left: 10px;
            display: flex;
            align-items: center;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    .toggle {
        width: calc(100% - 300px);
        background-color: $bg-color-fade;
    }
}

.minimize {
    width: 0px;

    .menu-list {
        display: none;
    }
}
