.menu-list-container{
    position: fixed;
    height: 100%;
    display: flex;
    width: 100%;
    z-index: 2;
    transition: width ease-out 0.2s;
    -webkit-transition: width ease-out 0.2s;
    .menu-list {
        display: block;
        background-color: white;
        width: 250px;
        border-right: 1px solid $bg-color-fade;
        transition: display ease-out 0.25s;
        -webkit-transition: display ease-out 0.25s;
    }

    .toggle {
        width: calc(100% - 250px);
        background-color: $bg-color-fade;
    }
}

.minimize {
    width: 0px;

    .menu-list {
        display: none;
    }
}
