.navbar {
    display: flex;
    width: 100%;
    min-height: $nav-bar-height;
    background-color: $bg-color;
    justify-content: space-between;
    .logo-menu {
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        align-items: center;
        color: $text-color;

        .logo{
            padding-left: 10px;
            img {
                height: $nav-bar-height;
            }
        }
    }

    .login {
        display: flex;
        padding: 0 10px;
        align-items: center;
        button {
            color: $text-color;
            padding: 5px;
            background-color: inherit;
            border: none;
            cursor: pointer;
            box-shadow: 0 0 5px 1px $text-color;
            border-radius: 10px;
        }

        button:hover {
            border:  1px solid $text-color-fade;
        }

        form {
            display: flex;
            min-width: 450px;
            justify-content: space-evenly;
        }
    }
}

@media (max-width: 768px) {
    .logo-menu {
        .menu {
            display: flex;
            padding: 5px;
            cursor: pointer;
            border: 1px solid $text-color;
            box-shadow: 0 0 5px 1px $text-color;
            border-radius: 10px;
        }
        .menu:hover {
            background-color: $text-color-fade;
            border-radius: 50%;
        }
    }

    .navbar{
        .login{
            form{
                display: none;
            }
        }
    }
}

@media (min-width: 769px) {
    .logo-menu {
        .menu {
            display: none;
        }
    }

    .navbar{
        .login{
            .mobile-login {
                display: none;
            }
        }
    }
}
