@import 'style-imports.scss';

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 18px;
}

button {
  padding: 10px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 5px 1px $text-color;
  border-radius: 10px;
  a {
    text-decoration: none;
    color: $text-color;
  }
}

button:hover {
  border:  1px solid $text-color-fade;
}

.content-container {
  padding: 0 10px;
  max-width: 1024px;
  display: flex;
  margin: auto;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: $link-text-color;
}
