.input-style-1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label {
        color: $text-color;
    }

    input {
        border-radius: 5px;
        height: 40px;
        border-style: ridge;
        min-width: 200px;
        font-size: 20px;
        border: none;
        padding-left: 5px;
    }
}

.button-style-1 {
    input {
        border-radius: 5px;
        height: 40px;
        min-width: 100px;
        border: 1px solid $bg-color;
        background-color: $text-color;
        color: $bg-color;
        font-size: 22px;
        font-weight: 600;
    }
}

.select-style-1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label {
        color: $text-color;
    }
    select {
        border-radius: 5px;
        height: 40px;
        border-style: ridge;
        min-width: 200px;
        font-size: 18px;
    }
}

.avatar-style-1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    #label {
        color: $text-color;
        text-align: center;
    }

    #avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: $input-text-color;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        margin: 10px auto;
        background-color: $input-bg-color;
        box-shadow: inset 0 0 3px 2px $input-text-color;
        text-shadow: 0 0 3px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    input[type="file"] {
        display: none;
    }
}

.error {
    ul {
        margin: 5px 0px;
        background-color: pink;
    }

    li {
        color:darkred;
    }

    input, select {
        border-color: red;
    }
}

.file-upload-style-1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    input[type="file"] {
        display: none;
    }

    input[type="text"] {
        border-radius: 5px 0 0 5px;
        height: 40px;
        border-style: ridge;
        width: 70%;
        font-size: 20px;
        border: none;
        padding-left: 5px;
        display: inline-block;
    }

    #file {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 42px;
        font-size: 30px;
        background-color: $input-bg-color;
        color: $input-text-color;
        border-radius: 0 50% 50% 0;
        padding-bottom: 5px;
        box-shadow: inset 0 0 3px 2px $input-text-color;
        text-shadow: 0 0 3px;
        margin: 0;
        cursor: pointer;
    }

    .inline-inputs {
        display: flex;
        align-items: center;
    }
}

.checkbox-style-1 {
    display: flex;
    margin-bottom: 15px;
    flex-flow: column;

    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      /* Hide the browser's default checkbox */
      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      
      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: $input-bg-color;
      }
      
      /* On mouse-over, add a grey background color */
      .container:hover input ~ .checkmark {
        background-color: $input-text-color;
      }
      
      /* When the checkbox is checked, add a blue background */
      .container input:checked ~ .checkmark {
        background-color: $text-color;
      }
      
      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the checkmark when checked */
      .container input:checked ~ .checkmark:after {
        display: block;
      }
      
      /* Style the checkmark/indicator */
      .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid $bg-color;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
}
